<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta name="author" content="wabilin">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="alternate" type="application/rss+xml" href="./feed.xml">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/styles/github.min.css">
    <script>
      function onHighlightLoad() {
        hljs.initHighlightingOnLoad();
      }
    </script>
    <script
      defer
      onload="onHighlightLoad()"
      src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/highlight.min.js">
    </script>
  </head>

  <body>
    <div class="post">
      <header class="blog-title">
        <h1>
          <a href="./">(∩ ◕_▩ )⊃━☆ Explosion!!</a>
        </h1>
      </header>

      <section id="main" class="post-section">
        <%- content %>
      </section>

      <footer class="footer-back">
        <a href="./">← back</a>
      </footer>
    </div>

    <footer class="page-footer">
      Subscribe via
      <a href="https://wabilin.github.io/feed.xml">
        RSS
      </a>.
    </footer>
  </body>
</html>
