:root {
  --normal-text: #555;
  --minor-text: #888;
  --code-ff: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  --article-h-color: #333;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif;
}

strong {
  font-weight: bold;
}

a {
  color: black;
}

a:visited, a:link {
  text-decoration: none;
}

a:hover {
  background-color: #EEE;
}

code, pre {
  font-family: var(--code-ff);
}

code.hljs {
  font-size: .9375rem;
}

p > code {
  padding: .125rem;
  border-radius: .125rem;
  background-color: #f2f2f2;

  padding: .2em .4em;
  border-radius: 6px;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  font-family: var(--code-ff);
}

img {
  max-width: 100%;
  margin: .25rem 0;
  box-shadow: 1px 1px 5px gray;
}

ol, ul {
  padding-left: 2rem;
}

body {
  color: var(--normal-text);
}

.blog-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Fira Code',Lato,"PingFang SC","Microsoft YaHei",sans-serif;
}

.blog-title > h1 {
  margin: auto;
  display: inline-block;
  color: white;
  background-color: black;
  padding: .5rem;
}
.blog-title > h1 > a {
  color: white;
}
.blog-title > h1 > a:hover {
  background-color: black;
  border-bottom: 2px solid lightgray;
}

.post {
  margin: auto;
  max-width: 800px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .post {
    margin: auto;
    max-width: 800px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.post-header {
  margin: 1.5rem auto 1rem auto ;
  width: 400px;
  padding: 0 .5rem;
}
@media only screen and (max-width: 400px) {
  .post-header {
    width: 100%;
  }
}

.post-time {
  font-size: .75rem;
  color: gray;
  margin-bottom: .25rem;
}

.post-header > h2 > a {
  border-bottom: none;
  color: black;
}

.post-section > hgroup {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.post-section > hgroup > h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
}
.post-section > hgroup > h6 {
  font-size: 1rem;
  font-weight: lighter;
  color: gray;
  margin-top: .5rem;
}

.post-section > article {
  word-wrap: break-word;
  font-size: 16px;
  line-height: 1.8;
}

.post-section > article > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--article-h-color);
}

.post-section > article > h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--article-h-color);
}

.post-section > article > h4 {
  color: var(--article-h-color);
}


.post-section > article > p {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.license-area {
  border-top: 1px solid #DDD;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
  color: var(--minor-text);
}

.footer-back {
  margin-top: 1.5rem;
}

.footer-back > a {
  padding: 0 .4rem;
  color: white;
  background-color: black;
}

.page-footer {
  color: var(--minor-text);
  text-align: center;
  max-width: 600px;
  margin: 2rem auto;
}
